$WATER-GREEN: #23aeba;
$CREAM-YELLO: #FFFDD0;
$CREAM-WHITE: #FAEED5;
$TEAL-DEER: #99E6B3;
$HOT-PINK: #EF7C8E;

$TEXT-COLOR: $CREAM-WHITE;
$FONT: Courier;
$BG-COLOR: #000000;

body {
  background-color: $BG-COLOR;
  font-family: $FONT;
  color: $TEXT-COLOR;
}

@keyframes rainbow-rotate {
  from {
    filter: hue-rotate(0deg);
  } to {
    filter: hue-rotate(360deg);
  }
}

@mixin animation-rainbow-rotate {

  animation: rainbow-rotate 5s;
  animation-iteration-count: infinite;
  // animation-direction: alternate;
}

@mixin margin-LR {
  margin-right: 10%;
  margin-left: 10%;
}

@mixin click-me {
  font-size: 10vw;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  @include animation-rainbow-rotate;
}

h1, h2 {
  margin: 0;
}

#outer {
  height: 88vh;
  display: grid;
  place-items: center;
  @include margin-LR;
}

.click-me {
  @include click-me
}

#click-me-header {
  color: $WATER-GREEN;
}

#click-me-gig {
  color: $HOT-PINK;
  @include click-me
}

#click-me-coughing {
  // font-size: 23px;
  color: $CREAM-YELLO;
  @include click-me
}

#click-me-nut {
  // font-size: 23px;
  color: $TEAL-DEER;
  @include click-me
}
