---
---
<astro>
  <head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="public/favicon.svg" />
    <!-- <link rel="icon" href="favicon.svg" sizes="any" type="image/svg+xml"> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>&#123;io&#125;</title>
  </head>
  <style> @import './styles/styles.scss'; </style>
  <body>
    <main>
      <div id="outer">
        <div></div>
        <div>
          <h1 class='click-me' id="click-me-header" title="click me">Hello World</h1>
          <h1 class='click-me' id="click-me-gig" title="click me"
            onclick="location.href = 'https://nuoxoxo.github.io/gig'">Gig</h1>
          <!-- &nbsp; -->
          <!-- <h1 class='click-me' id="click-me-nut" title="click me"
            onclick="location.href = 'https://nuoxoxo.github.io/nut'">Nut</h1> -->
          <h1 class='click-me' id="click-me-coughing" title="click me"
            onclick="location.href = 'https://nuoxoxo.github.io/coughing'">Coughing</h1>
          <h1 class='click-me' id="click-me-ipa" title="click me"
            onclick="location.href = 'https://nuoxoxo.github.io/snk'">ipa</h1>
        <div></div>
        <div></div>
      </div>
    </main>
  </body>
</astro>

