---

---
<astro>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <style>
    @import './index.scss';
  </style>
  <body>
    <main>
      <div id="outer">
        <h1 id="click-me" title="click me xD"
          onclick="location.href = 'https\://nuoxoxo.github.io/'"
        >Hello World</h1>
      </div>
    </main>
  </body>
</astro>

