---
---
<astro>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>io</title>
  </head>
  <style> @import './index.scss'; </style>
  <body>
    <main>
      <div id="outer">
        <div></div>
        <div>
          <span class='click-me' id="click-me-header" title="click me">Hello World</span>
          <h1>
            <span class='click-me' id="click-me-gig" title="click me"
              onclick="location.href = 'https\://nuoxoxo.github.io/gig'">Gig</span>
            &nbsp;
            <span class='click-me' id="click-me-coughing" title="click me"
              onclick="location.href = 'https\://nuoxoxo.github.io/coughing'">Coughing</span>
          </h1>
        </div>
        <div></div>
      </div>
    </main>
  </body>
</astro>

