$font-family: monospace, "Lucida Console", Courier;
$border-width: 2px;
$border-radius-l: 12%;
$border-radius-r: 50%;

@mixin container-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(96vh - 3rem);
  flex-wrap: wrap;
}

@mixin button-styles($size, $fontSize, $borderRadius: 0) {
  font-family: $font-family;
  height: $size;
  width: $size;
  border: $border-width;
  margin: $border-width;
  text-align: center;
  font-size: $fontSize;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
  border: $border-width solid white;
  border-radius: $borderRadius;
}

body {
  background-color: black;

  .container {
    @include container-styles;
  }
}

.btn {
  @include button-styles(256px, 42px);
}

.btn-L {
  @include button-styles(256px, 42px, $border-radius-l);
}

.btn-R {
  @include button-styles(256px, 42px, $border-radius-r);
}

@media (max-width: 320px) {
  body {
    .container {
      @include container-styles;
    }
  }

  .btn {
    @include button-styles(128px, 21px);
  }

  .btn-L {
    @include button-styles(128px, 21px, $border-radius-l);
  }

  .btn-R {
    @include button-styles(128px, 21px, $border-radius-r);
  }
}
